In [1]:
import pandas as pd

In [2]:
path = '../Sesion2/data_retail/'
path_customers = f'{path}customers'
path_orders = f'{path}orders'
path_order_items = f'{path}order_items'
path_products = f'{path}products'
path_categories = f'{path}categories'
path_departments = f'{path}departments'

In [3]:
df_customers = pd.read_csv(path_customers, sep='|', header = None)
df_orders = pd.read_csv(path_orders, sep='|', header = None)
df_order_items = pd.read_csv(path_order_items, sep='|', header = None)
df_products = pd.read_csv(path_products, sep='|', header = None)
df_categories = pd.read_csv(path_categories, sep='|', header = None, names= ['category_id', 'category_department_id', 'category_name'])
df_departments = pd.read_csv(path_departments, sep='|', header = None, names= ['department_id', 'department_name'])

In [4]:
df_categories.head()

   category_id  category_department_id        category_name
0            1                       2             Football
1            2                       2               Soccer
2            3                       2  Baseball & Softball
3            4                       2           Basketball
4            5                       2             Lacrosse

In [5]:
df_departments

   department_id department_name
0              2         Fitness
1              3        Footwear
2              4         Apparel
3              5            Golf
4              6        Outdoors
5              7        Fan Shop

---
Validar que no hayan duplicados

In [ ]:
def validate_duplicated(df, column_name: str) -> bool:
    """Valida y hay datos duplicados. retorna True o False"""
    if df[column_name].duplicated().any():
        return True
    
    return False

In [7]:
validate_duplicated(df_departments, 'department_name')

False

In [8]:
validate_duplicated(df_categories, 'category_name')

True

---
Validar que exista id's vÃ¡lidos en la relacion entre tablas

In [14]:
valid_ids = set(df_departments['department_id'])
valid_ids
def validate_ids(df, column_name:str , valid_ids:set ) -> bool:
    """Retorna True si existen id's no validos"""
    # Validar si todos los id's son validos
    return bool(df[column_name].isin(valid_ids).all())

In [13]:
validate_ids(df_categories, "category_department_id", valid_ids)

False

---
Operaciones Merge

In [18]:
# Left Join
df_departments_category = df_departments.merge(
    df_categories, 
    left_on='department_id', 
    right_on='category_department_id', 
    how='left')

df_departments_category.head()

,department_id,department_name,category_id,category_department_id,category_name
0,2,Fitness,1,2,Football
1,2,Fitness,2,2,Soccer
2,2,Fitness,3,2,Baseball & Softball
3,2,Fitness,4,2,Basketball
4,2,Fitness,5,2,Lacrosse

Convertir DF a CSV

In [21]:
df_departments_category.to_csv('departments_category.csv', index=False)

Convertir DF a JSON

In [24]:
df_departments_category.to_json('departments_category.json', orient='records', indent=4)

Convertir DF a SQL

In [25]:
import sqlalchemy as db
import pandas as pd

In [27]:
engine = db.create_engine('mysql+mysqlconnector://root:root@localhost:3310/retail_db')
conn = engine.connect()

In [28]:
df_departments_category.to_sql('departments_category', con=conn, index=False)

48

In [38]:
pd.read_sql_query("SELECT * FROM departments_category LIMIT 10", con=conn)

,department_id,department_name,category_id,category_department_id,category_name
0,2,Fitness,1,2,Football
1,2,Fitness,2,2,Soccer
2,2,Fitness,3,2,Baseball & Softball
3,2,Fitness,4,2,Basketball
4,2,Fitness,5,2,Lacrosse
5,2,Fitness,6,2,Tennis & Racquet
6,2,Fitness,7,2,Hockey
7,2,Fitness,8,2,More Sports
8,3,Footwear,9,3,Cardio Equipment
9,3,Footwear,10,3,Strength Training