In [1]:
import sqlalchemy as db
import pandas as pd

engine = db.create_engine('mysql+mysqlconnector://root:root@localhost:3310/retail_db')
conn = engine.connect()

In [3]:
df_customers = pd.read_sql_table('customers', con=conn)
df_orders = pd.read_sql_table('orders', con=conn)
df_order_items = pd.read_sql_table('order_items', con=conn)
df_products = pd.read_sql_table('products', con=conn)
df_categories = pd.read_sql_table('categories', con=conn)
df_departments = pd.read_sql_table('departments', con=conn)

Total de clientes únicos

In [5]:
print(f"Total de clientes únicos: {df_customers['customer_id'].nunique()}")

Total de clientes únicos: 12435

Cantidad de clientes por estado

In [9]:
df_customers['customer_state'].value_counts()

customer_state
PR    4771
CA    2012
NY     775
TX     635
IL     523
FL     374
OH     276
PA     261
MI     254
NJ     219
AZ     213
GA     169
MD     164
NC     150
VA     136
CO     122
OR     119
MA     113
TN     104
NV     103
MO      92
HI      87
CT      73
NM      73
WA      72
UT      69
WI      64
LA      63
DC      42
SC      41
IN      40
MN      39
KY      35
KS      29
DE      23
OK      19
WV      16
RI      15
ND      14
AR      12
ID       9
MT       7
IA       5
AL       3
Name: count, dtype: int64

¿Cuales son es el productos mas caros y mas baratos?

In [ ]:
# El producto más caro
index = df_products['product_price'].idxmax()

df_products.loc[index]

product_id                                                           208
product_category_id                                                   10
product_name                                         SOLE E35 Elliptical
product_description
product_price                                                    1999.99
product_image          http://images.acmesports.sports/SOLE+E35+Ellip...
Name: 207, dtype: object

In [ ]:
# El producto menos caro
index = df_products['product_price'].idxmin()

df_products.loc[index]

product_id                                                            38
product_category_id                                                    3
product_name               Nike Men's Hypervenom Phantom Premium FG Socc
product_description
product_price                                                        0.0
product_image          http://images.acmesports.sports/Nike+Men%27s+H...
Name: 37, dtype: object

¿Cuales son los 5 productos mas caros y mas baratos?

In [16]:
# mas caros
df_products.nlargest(5, 'product_price')

,product_id,product_category_id,product_name,product_description,product_price,product_image
207,208,10,SOLE E35 Elliptical,,1999.99,http://images.acmesports.sports/SOLE+E35+Ellip...
65,66,4,SOLE F85 Treadmill,,1799.99,http://images.acmesports.sports/SOLE+F85+Tread...
198,199,10,SOLE F85 Treadmill,,1799.99,http://images.acmesports.sports/SOLE+F85+Tread...
495,496,22,SOLE F85 Treadmill,,1799.99,http://images.acmesports.sports/SOLE+F85+Tread...
1047,1048,47,"Spalding Beast 60"" Glass Portable Basketball",,1099.99,http://images.acmesports.sports/Spalding+Beast...

In [17]:
# mas baratos
df_products.nsmallest(5, 'product_price')

,product_id,product_category_id,product_name,product_description,product_price,product_image
37,38,3,Nike Men's Hypervenom Phantom Premium FG Socc,,0.0,http://images.acmesports.sports/Nike+Men%27s+H...
387,388,18,Nike Men's Hypervenom Phantom Premium FG Socc,,0.0,http://images.acmesports.sports/Nike+Men%27s+H...
413,414,19,Nike Men's Hypervenom Phantom Premium FG Socc,,0.0,http://images.acmesports.sports/Nike+Men%27s+H...
516,517,24,Nike Men's Hypervenom Phantom Premium FG Socc,,0.0,http://images.acmesports.sports/Nike+Men%27s+H...
546,547,25,Nike Men's Hypervenom Phantom Premium FG Socc,,0.0,http://images.acmesports.sports/Nike+Men%27s+H...